
/bin/

/reports/

/tests/_data/fixtures/project-template/*/vendor/
/tests/_envs/*.local.yml
/tests/_output/
/tests/_support/_generated/
/tests/*.suite.yml

/vendor/

/.git-hooks-local
/codeception.yml
/phpcs.xml
/sweetchuck-git-hooks-*.tar
/sweetchuck-git-hooks-*.zip
