### Common.
/.cache/
/reports/


### Composer.
/vendor/
/sweetchuck-git-hooks-*.tar
/sweetchuck-git-hooks-*.tar.bz2
/sweetchuck-git-hooks-*.tar.gz
/sweetchuck-git-hooks-*.zip


### PHPUnit.
/phpunit.xml
/tests/fixtures/project-template/*/vendor/


### PHP Code Sniffer.
/phpcs.xml


### PHPStan.
/tests/src/Phpstan.php
/phpstan.neon


### Robo.
/robo.yml

