
/tests/_data/fixtures/project-template/*/vendor/
/tests/_envs/*.local.yml
/tests/_log/
/tests/_support/_generated/
/tests/*.suite.yml

/vendor/

/.git-hooks-local
/codeception.yml
/phpcs.xml
/robo.yml
/sweetchuck-git-hooks-*.tar
/sweetchuck-git-hooks-*.zip
